
.col-6 {
    width: 50%;
    display: grid;
    margin-bottom: 10px;
}

.col-6 input {
    width: 70%;
    height: 25px;
}

.text-danger {
    color: red;
}

.token-reg-info-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid;
}
