<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="card">
    <h2>  
      Enter Details
    </h2>
      <div>
        <div class="col-6">
          <label>Token Registry Address<span class="text-danger">*</span>:</label>
          <input type="text" [(ngModel)]="formData.tokenRegistryAddress" name="tokenRegistryAddress">
        </div>
  
        <div class="col-6">
          <label>Domin Address (DNS)<span class="text-danger">*</span>:</label>
          <input type="text" [(ngModel)]="formData.dnsName" name="dnsName">
        </div>
  
        <div class="col-6">
          <label>Issuer Name<span class="text-danger">*</span>:</label>
          <input type="text" [(ngModel)]="formData.issuerName" name="issuerName">
        </div>
  
        <div class="col-6">
          <label>Recipient Name<span class="text-danger">*</span>:</label>
          <input type="text" [(ngModel)]="formData.recipientName" name="recipientName">
        </div>
  
        <div class="col-6">
          <label>Owner/Beneficiary Address<span class="text-danger">*</span>:</label>
          <input type="text" [(ngModel)]="formData.ownerAddress" name="ownerAddress">
        </div>
  
        <div class="col-6">
          <label>Holder Address<span class="text-danger">*</span>:</label>
          <input type="text" [(ngModel)]="formData.holderAddress" name="holderAddress">
        </div>
        <div>
          <button type="button" (click)="enableEthereum()">Submit</button>
        </div>
      </div>
  </div>
</div>

